@import "~bootstrap/dist/css/bootstrap.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section.wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;

    header{
        padding: 1rem;
        border-bottom: 1px solid gray;
    }

    main{
        flex: auto;
        padding: 1rem;
    }

    footer{
        padding: 1rem;
        border-top: 1px solid gray;
    }
}

.card-holder{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 2rem; 
  row-gap: 2rem;
}